/*Make Sure Deployed Page Follows Same Style Rules as Vite*/
* {
  box-sizing: border-box;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  touch-action: none;
}

.button h1 {
  margin: 0;
  font-size: 1.2rem; 
}

.pack-window {
  position: absolute;
  /* Center */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Dimensions */
  width: 90vw;
  height: 90vh;
  z-index: 100;
  pointer-events: none;
}

.button {
  pointer-events: auto;
  position: absolute;
  color: black;
  background-color: white;
  opacity: 0.25;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;  
  border: none;
  cursor: pointer;
}

#open {
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

#close {
  display: none;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
}